@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f8f8f8;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.chart-axis-label {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.chart-focus-text {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}

.chart-title {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: bold;
}

h1
,h2 {
    font-family: 'Playfair Display', serif;
}

h1 {
    text-align: center;
}

#narrative-container {
    display: flex;
    flex-direction: row;
    height: 800px;
    width: 1280px;
}

#narrative-container > div:first-of-type {
    border: solid 1px #aaa;
}

#narrative-container > div:not(:first-of-type) {
    border-top: solid 1px #aaa;
    border-right: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
}

nav {
    align-items: center;
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: flex-end;
}

nav > ul > li {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    min-width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
}

nav > ul > li.current {
    background-color: #fff;
    box-shadow: inset 0px 0px 0px 2px #aaa;
}

nav > ul > li.disabled {
    color: #bbb;
    cursor:default;
}

nav > ul > li.enabled {
    background-color: #fff;
}

nav > ul > li:first-of-type {
    border: solid 1px #b8b8b8;
}

nav > ul > li:not(:first-of-type) {
    border-top: solid 1px #aaa;
    border-right: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
}

#page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#story {
    flex: auto;
}

#story > h2 {
    width: fit-content(100%);
    text-align: center;
}

#story-container {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    flex: 0 0 280px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.tooltip {
    background-color: #e0e0e0;
    border: solid 1px #aaa;
    position: fixed;
    padding: 3px;
    pointer-events: none;
}

#visualization {
    background-color: #fdfdfd;
    flex: auto;
}